

body{
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
 padding:0;
}

@media screen and (min-width: 840px) {

    nav {
        z-index:3;
         overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
    }
    nav ul { 

        display: block; 
        padding: 16px;
    }

    ul {
      font-family: Source Sans Pro;
      list-style-type: none;
      overflow: hidden;
      background-color: #1F8A70;
      margin: 0px;
  }

  li {float: left;}

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #BEDB39;
  }
}

@media screen and (max-width: 839px) {
    nav ul { display:none; }
}


a { color: black;
}

div{float:left;
    margin-left: 0px;

}


.img1:hover {
  -webkit-box-shadow: 0px 0px 20px #1F8A70;
  -moz-box-shadow: 0px 0px 20px #1F8A70;
  -o-box-shadow: 0px 0px 20px #1F8A70;
  box-shadow: 0px 0px 20px #1F8A70;
}


.img1 {
    border:30px solid white;
    width: 250px;
    max-width: 100%; 
    max-height: 250px;
}

.imgP {
    position: absolute;
    height: 30em;
    right: 55%;
}


p { color:white;
    text-align: center;
    font-family: helvetica;
    font-size: 25px;
    border-color: white;
    border-style: solid;
    padding: 10px;
    border-align: center;  
}

p1 {
    color:white;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 25px;
}


h1 { color:white;
    font-size:69px;
    text-align: center;
    font-family: orator std;
    margin-top:0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

h2 {color:black;
    font-family: Source Sans Pro;
    font-size: 25px;
    text-align: center;
    font-weight: 100;
}

h3 { color:palevioletred;
    font-size:85px;
    font-family: helvetica;
    padding-top: 50px;
    padding-left: 50px;
    margin-top: 0px;
    color: #1F8A70;

}

h4 {color:white;
    font-family: Source Sans Pro;
    font-size: 25px;
    text-align: center;
    font-weight: 100;

}

h5 {color:black;
    font-weight: 10;
    font-family: Source Sans Pro;
    font-size: 25px;
    text-align: left;
    float: left;
    margin-right: 60%;
    margin-left: 3%;

}

h6 {
    font-weight: 10;
    color:black;
    font-family: Source Sans Pro;
    font-size: 25px;
    position: absolute;
    left: 45%;
    margin-top: 7em;
}


.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container > div {
    margin: 40px;
    text-align: left;
    max-width: 320px;
}

.item1 { 
   min-width: 0;
   margin: 5px;
}

.item2 { 
       min-width: 0;
       margin: 5px;
}


   .grid-container {
    display: grid;
    grid-template-areas:
    '1'
    '2';
}
.grid-container > div {
    text-align: center;
    padding: 0px;
}

#devicesImg {
    margin-top: 100px;
    height: 30em;
    margin-left: calc(50% - 25em);
}

#MT { 
 background: url(resources/mockHand.png) no-repeat fixed;
 background-size: cover;
 height: 1000px;  
 margin-top: 0px;
 padding-top: 0px;
 width: 100%;

}

#inner {
    margin-top: 4em;
    left: 0;
    right: 0;
    width: 100%;
    height: 40em;
}


#a { 
 
 height: 1200px;
 margin: 0 auto; 
 width: 100%; 
 position: relative; 
 box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#f { 
    background: url(resources/bg.jpg) no-repeat fixed;  
 background-size: cover;
 height: 1200px;  
 width: 100%;
 box-shadow: 0 0 50px rgba(0,0,0,0.8);
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

#d { x
 background: url() 50% 0 no-repeat fixed; 
 height: 1200px;
 margin: 0 auto; 
 width: 100%; 
 max-width: 1920px; 
 position: relative; 
 box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#footerbot {
    position: absolute;
    width: 100%;
    height: 7em;
    padding-bottom: 1.5rem;
    background-color: #1F8A70;
}



